@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #fff;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
}

body {
  position: relative;
  background-color: #171919;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 86px; /* 143.333% */
  text-transform: uppercase;
}

h2 {
  position: relative;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 86px; /* 107.5% */
  text-transform: uppercase;
}
h2::before {
  position: absolute;
  top: 3px;
  right: 0;
  width: 80px;
  height: 1px;
  background: #4AF6CD;
}
h2:after {
  position: absolute;
  left: -295px;
  top: 0;
  font-size: 200px;
  font-style: normal;
  font-weight: 800;
  line-height: 156px; /* 78% */
  text-transform: uppercase;
  opacity: 0.02;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 86px; /* 215% */
  text-transform: uppercase;
}

h4 {
  opacity: 0.5012;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
  letter-spacing: 7.333px;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px; /* 141.667% */
  text-transform: uppercase;
}

h6 {
  opacity: 0.5;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  letter-spacing: 8px;
  text-transform: uppercase;
}

.content-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 7px;
}
.content-title h4 {
  position: relative;
}
.content-title h4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -103px;
  width: 80px;
  height: 1px;
  opacity: 0.5;
  background-color: #FFF;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 1000;
}
.header .header__logo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  width: 300px;
  height: 169px;
  margin-top: 66px;
  margin-bottom: 184px;
  padding-right: 23px;
  transform: rotate(-90deg);
  background: linear-gradient(90deg, transparent 0%, transparent 35%, #4AF6CD 35%, #4AF6CD 100%);
}
.header .header__logo:after {
  content: "";
  position: absolute;
  left: calc(35% - 10px);
  width: 20px;
  height: 1px;
  background: #FFF;
}
.header .header__logo::before {
  content: "go surf";
  position: absolute;
  top: 66px;
  transform: rotate(90deg);
  font-size: 200px;
  font-style: normal;
  font-weight: 800;
  line-height: 156px; /* 78% */
  text-transform: uppercase;
  opacity: 0.07;
}
.header .header__search {
  cursor: pointer;
  margin-bottom: 20px;
}
.header .header__search path {
  transition: 0.5s;
}
.header .header__search:hover path {
  fill: #4AF6CD;
}
.header .header__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.header .header__date .date__day {
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 88.889% */
}
.header .header__date .date__month-year {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px; /* 118.75% */
  letter-spacing: 1.4px;
}
.header .header__location {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__nav .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 37px;
}
.header__nav .nav__list .nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-align: center;
}
.header__nav .nav__list .nav__item p, .header__nav .nav__list .nav__item path {
  transition: 0.5s;
}
.header__nav .nav__list .nav__item:hover p {
  color: #4AF6CD;
}
.header__nav .nav__list .nav__item:hover path {
  fill: #4AF6CD;
}

.hero {
  position: relative;
  width: 100%;
  height: 1024px;
  padding: 40px 80px;
  padding-left: 209px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: unset;
}
.hero .controls__left,
.hero .controls__right,
.hero .hero__next-section {
  cursor: pointer;
}
.hero .controls__left path,
.hero .controls__right path,
.hero .hero__next-section path {
  transition: 0.5s;
}
.hero .controls__left:hover path,
.hero .controls__right:hover path,
.hero .hero__next-section:hover path {
  fill: #4AF6CD;
}
.hero .hero__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero .hero__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: unset;
  flex-wrap: wrap;
}
.hero .hero__content .hero__title-list {
  position: relative;
  width: 100%;
  height: 250px;
}
.hero .hero__content .hero__title-list .title-list__item {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.hero .hero__content .hero__title-list .title-list__item.active {
  opacity: 1;
  visibility: visible;
}
.hero .hero__buttom-control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: unset;
  margin-bottom: 40px;
}
.hero .hero__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hero .hero__pagination .pagination__item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  position: relative;
  width: 200px;
  padding-top: 10px;
}
.hero .hero__pagination .pagination__item::before, .hero .hero__pagination .pagination__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFF;
}
.hero .hero__pagination .pagination__item::after {
  width: 0%;
  background-color: #4AF6CD;
  transition: 0.5s;
}
.hero .hero__pagination .pagination__item.active::after, .hero .hero__pagination .pagination__item:hover::after {
  width: 100%;
}
.hero .hero__slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .hero__slides img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.hero .hero__slides img.active {
  opacity: 1;
  visibility: visible;
}

.surf {
  margin-top: 160px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: unset;
  background-image: url("../assets/bg/map.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.surf h2 {
  margin-bottom: 75px;
  margin-left: 165px;
  align-self: start;
}
.surf h2::before {
  content: "";
}
.surf h2::after {
  content: "Surf";
}
.surf .surf__content-title {
  margin-bottom: 195px;
}
.surf .surf__content-title h3 span {
  font-weight: 100;
}
.surf .surf__content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: unset;
  width: 283px;
  height: 216px;
  padding: 30px 32px;
  margin-bottom: 153px;
  margin-right: 22px;
  flex-wrap: wrap;
  border-radius: 6px;
  background: rgba(15, 16, 16, 0.7019607843);
}
.surf .surf__content::after {
  opacity: 0.5;
  content: "34.0501 N -118.2446 W";
  position: absolute;
  right: -180px;
  top: 50%;
  transform: rotate(-90deg);
  color: #fff;
  text-align: right;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  letter-spacing: 8px;
  text-transform: uppercase;
}
.surf .surf__content h6 {
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
  letter-spacing: normal;
  opacity: 1;
}
.surf .surf__content h6:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 80px;
  height: 1px;
  background: #4AF6CD;
}
.surf .surf__content .content__controls {
  cursor: pointer;
  margin-top: 4px;
}
.surf .surf__content .content__controls path {
  transition: 0.5s;
}
.surf .surf__content .content__controls:hover path {
  fill: #4AF6CD;
}
.surf .surf__content > p {
  margin-bottom: 30px;
  width: 100%;
}
.surf .surf__content .content__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
}
.surf .surf__content .content__list .content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
}
.surf .surf__content .content__list .content__item img {
  width: unset;
  height: unset;
  margin-bottom: 8px;
}
.surf .surf__content .content__list .content__item .item__title {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px; /* 143.75% */
}
.surf .surf__content .content__list .content__item .item__subtitle {
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px; /* 120% */
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */